<!DOCTYPE html>
  <head>
    <title>Help</title>
    
    <link rel="stylesheet" href="../static/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico?v=1" />
    <link rel="icon" type="image/x-icon" href="../public/favicon.ico">
    
  </head>

 <body>
<div id="container">


    <div id="header">
        <h1> ,,, </h1>

        <div class="Logo">
            <a href= "/" >
   <img src="../public/Logo with text yellow.png" alt="Logo">
            </a>
        </div>
    </div>

  
    <div id="content">
        <h1>Help & Contact</h1>

        <div id="room_text">
            <form action="#">

            
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br><br>

                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname"><br><br>

                <label for="location">Please select your location:</label><br>
                <select name="location" id="location">
                    <option value="Coatbridge">Coatbridge</option>
                    <option value="Cumbernauld">Cumbernauld</option>
                    <option value="Motherwell">Motherwell</option>
                </select><br><br>

            
                <label>Nature of your message:</label><br><br>

                <input type="checkbox" id="courses" name="courses">
                <label for="courses">Availability of courses</label><br>

                <input type="checkbox" id="server" name="server">
                <label for="server">Server Status</label><br>

                <input type="checkbox" id="other" name="other">
                <label for="other">Other</label><br><br>

               
                <label for="message">Your message:</label><br>
                <textarea id="message" name="message" rows="5" placeholder="Write us a message"></textarea><br><br>

                <input type="submit" value="Submit">
                <input type="reset" value="Reset">

            </form>
        </div>
    </div>

    <p>Email: public@oldcollegelanarkshire.ac.uk</p>
    <p>Phone: 01236 123456</p>

</div>
</body>
</html>